@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Smooth scrolling */

html {
    scroll-behavior: smooth;
}


/* Image hover animation */

.product-card img {
    transition: transform 0.5s ease;
}


.product-card:hover img {
    transform: scale(1.08);
}


/* Button animation */

.shop-btn {
    transition: all 0.3s ease;
}


.shop-btn:hover {
    transform: translateY(-5px);
}


/* Fade animation */

.fade-in {
    animation: fade 1s ease-in;
}


@keyframes fade {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}